
body {margin: 0;width: 100%;}
span{font-size: 20px;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(66, 63, 63);
  z-index: 1000;
  position: sticky;
  top:0
}
#navbarMain{
  margin: 0;
}

ul.topnav li {float: left;}
ul.topnav .logout  {float: right;background-color: red;color: white;width: 300px;}
ul.topnav .login  {float: right;width: 300px;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 420px) {
  ul.topnav li.right, 
  ul.topnav li,ul.topnav li.login , ul.topnav .logout {float: none;width: 100%;border: 1px solid white;}
  ul.topnav {position: fixed;width: 100%;top:0}
  
}
@media screen and (max-width: 780px) {
  ul.topnav li.right, 
  ul.topnav li,ul.topnav li.login , ul.topnav .logout {float: none;width: 100%;border: 1px solid white;}
  ul.topnav {position: fixed;width: 100%;top:0}
  
}
